.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  background-color: #000b229d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input {
  border-bottom: white 2px solid;
}
.galaxy {
  background-image: url("./assets/space.jpg") !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.intro {
  /* background-color: #61dafb; */
  background-image: url("./assets/forest.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  /* position: relative; */
  /* z-index: 99; */
}
.paattern {
  --s: 222px; /* control the size */
  --c1: #000000;
  --c2: #000000;
  --c3: #28004962;

  --_g: var(--c1) 10%, var(--c2) 10.5% 19%, #0000 19.5% 80.5%,
    var(--c2) 81% 89.5%, var(--c3) 90%;
  --_c: from -90deg at 37.5% 50%, #0000 75%;
  --_l1: linear-gradient(145deg, var(--_g));
  --_l2: linear-gradient(35deg, var(--_g));
  background: var(--_l1), var(--_l1) calc(var(--s) / 2) var(--s), var(--_l2),
    var(--_l2) calc(var(--s) / 2) var(--s),
    conic-gradient(var(--_c), var(--c1) 0) calc(var(--s) / 8) 0,
    conic-gradient(var(--_c), var(--c3) 0) calc(var(--s) / 2) 0,
    linear-gradient(
      90deg,
      var(--c3) 38%,
      var(--c1) 0 50%,
      var(--c3) 0 62%,
      var(--c1) 0
    ),
    radial-gradient(rgba(0, 0, 0, 0.068), rgb(0, 0, 0));
  background-size: var(--s) calc(2 * var(--s) / 3);
}
.cardOP {
  /* background-color: rgba(119, 0, 255, 0.164); */
  background-color: transparent;
  backdrop-filter: blur(10px);
}
