body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  border-radius: 0px !important;
  border-bottom: rgba(255, 255, 255, 0.336) 3px solid !important;
  border-top: white 0px solid !important;
  border-left: white 0px solid !important;
  background-color: transparent !important;
  border-right: white 0px solid !important;
  transition: all 1s;
}
input:hover {
  border-bottom: rgb(60, 138, 255) 3px solid !important;
}
input:focus {
  border-bottom: rgb(60, 138, 255) 3px solid !important;
}
.galaxy {
  background-image: url("../public/assets/space.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.intro {
  /* background-color: #61dafb; */
  background-image: url("../public/assets/forest.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  /* position: relative; */
  /* z-index: 99; */
}
.user-nav {
  background-color: transparent !important;
  backdrop-filter: blur(10px);
}
